*{
    margin: 0%;
    padding: 0%;
}

.parrafo1{
    padding-left: 5%;
}
.parrafo2{
    padding-right: 5%;
    padding-left: 5%;
}
.parrafo3{
    padding-right: 5%;
    padding-left: 5%;
}
.jumbotron{
    padding-left: 5%;
}
.boton{
    padding-top: 5%;
}
.titulo{
    text-align: center;
}
.pie{
    text-align: center;
}
.entrada{
    padding-left: 2%;
    padding-right: 45%;
    text-align: justify;
}
.redes{
    text-align: center;
    padding-bottom: 1%;
}
.correo{
    text-align: right;
    padding-right: 1%;
    padding-bottom: 1%;
}

